RewriteEngine On
RewriteRule ^\.well-known/ - [L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [L]

DirectoryIndex disabled

RewriteCond %{HTTP:Upgrade} websocket [NC]
RewriteCond %{HTTP:Connection} upgrade [NC]
RewriteRule ^/?(.*) "ws://127.0.0.1:3000/$1" [P,L]

RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]

ErrorDocument 503 "The application failed to start. Please check the logs in /home/user/.pm2/logs/yourapp-error.log"

